## SQL DATABASE

In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn_sql = sqlite3.connect("student_data.db") #exist/ create the database
cursor = conn_sql.cursor()
print("Connection Established....")

Connection Established....

### CREATING TABLES IN SQL DATABSE

In [3]:
cursor.execute( """
CREATE TABLE IF NOT EXISTS Student_Table (
student_id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT,
age INTEGER,
gender TEXT,
email VARCHAR,
phone VARCHAR,
enrollment_year INTEGER,
course_batch TEXT,
city TEXT,
graduation_year INTEGER
);
""")
conn_sql.commit()
print("Student Table Created Successfully.")

Student Table Created Successfully.

In [4]:
cursor.execute( """
CREATE TABLE IF NOT EXISTS programming_table (
programming_id INTEGER PRIMARY KEY AUTOINCREMENT,
student_id INTEGER ,
language VARCHAR,
problems_solved INTEGER,
assessments_completed INTEGER,
mini_projects INTEGER,
certifications_earned INTEGER,
latest_project_score INTEGER,
FOREIGN KEY (student_id) REFERENCES Student_Table(student_id)
);
""")
conn_sql.commit()
print("Programming Table Created Successfully.")

Programming Table Created Successfully.

In [6]:
cursor.execute( """
CREATE TABLE IF NOT EXISTS softskills_table (
soft_skill_id INTEGER PRIMARY KEY AUTOINCREMENT,
student_id INTEGER ,
communication INTEGER,
teamwork INTEGER,
presentation INTEGER,
leadership INTEGER,
critical_thinking INTEGER,
interpersonal_skills INTEGER,
FOREIGN KEY (student_id) REFERENCES Student_Table(student_id)
);
""")
conn_sql.commit()
print("Soft Skills Table Created Successfully.")

Soft Skills Table Created Successfully.

In [7]:
cursor.execute( """
CREATE TABLE IF NOT EXISTS placements_table (
placement_id INTEGER PRIMARY KEY AUTOINCREMENT,
student_id INTEGER,
mock_interview_score INTEGER,
internships_completed INTEGER,
placement_status TEXT,
company_name VARCHAR,
placement_package INTEGER,
interview_rounds_cleared INTEGER,
placement_date VARCHAR,
FOREIGN KEY (student_id) REFERENCES Student_Table(student_id)
);
""")
conn_sql.commit()
print("Placement Table Created Successfully.")

Placement Table Created Successfully.

### INSERTING DATA INTO TABLES

In [8]:
df = pd.read_csv("Student_Table.csv")
data_st = df.values.tolist()
query = """
INSERT INTO Student_Table (student_id, name, age, gender, email, phone, enrollment_year, course_batch, city, graduation_year)
VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
"""
cursor.executemany(query, data_st)
conn_sql.commit()
print("Data Inserted Successfully.")

Data Inserted Successfully.

In [9]:
df_pg = pd.read_csv("programming_table.csv")
data_prog = df_pg.values.tolist()
query = """
INSERT INTO programming_table (programming_id, student_id, language, problems_solved, assessments_completed, mini_projects, certifications_earned, latest_project_score)
VALUES(?, ?, ?, ?, ?, ?, ?, ?);
"""
cursor.executemany(query, data_prog)
conn_sql.commit()
print("Data Inserted Successfully.")

Data Inserted Successfully.

In [10]:
df_sk = pd.read_csv("softskills_table.csv")
data_skills = df_sk.values.tolist()
query = """
INSERT INTO softskills_table (soft_skill_id, student_id, communication, teamwork, presentation, leadership, critical_thinking, interpersonal_skills)
VALUES(?, ?, ?, ?, ?, ?, ?, ?);
"""
cursor.executemany(query, data_skills)
conn_sql.commit()
print("Data Inserted Successfully.")

Data Inserted Successfully.

In [11]:
df_plc = pd.read_csv("placement_table.csv")
data_placement = df_plc.values.tolist()
query = """
INSERT INTO placements_table (placement_id, student_id, mock_interview_score, internships_completed, placement_status, company_name, placement_package, interview_rounds_cleared, placement_date)
VALUES(?, ?, ?, ?, ?, ?, ?, ?, ?); 
"""
cursor.executemany(query, data_placement)
conn_sql.commit()
print("Data Inserted Successfully.")

Data Inserted Successfully.

In [ ]:
import pandas as pd
import numpy as np
import streamlit as st
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

#Title of the App
st.title("Placement Eligibility Application")

# Sidebar for navigation
st.sidebar.title("HOME")
page = st.sidebar.radio("Go to", ["Eligibility Criteria", "Students Analytical Insights"])